@font-face {
    font-family: 'koruri';
    src: url(../font/Koruri-Regular.ttf);
    font-display: swap;
}

html, body {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #000;
    font-weight: 300;
    font-family: 'koruri', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

p, hr {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 30%;
    color: #000;
    background: #fff;
    z-index: 0;
}

#setting {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 30%;
    top: 25%;
    z-index: 200;
    background: #000;
    display: none;
}

#ScaleImg {
    position: absolute;
    bottom: 35px;
    right: 0px;
    z-index: 150;
    opacity: 0.9;
    background: #fff;
}

#time {
    position: absolute;
    background: #fff;
    color: #000;
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bold;
    right: 0;
    bottom: 0;
}

#eewinfo {
    border-radius: 5px;
    display: block;
    position: absolute;
    width: 307px;
    height: 104px;
    font-weight: 600;
    font-size: 1rem;
    background: #666;
    left: 30%;
    z-index: 10;
}

#tsunamiWarning {
    display: none;
    position: absolute;
    width: 180px;
    height: 46px;
    top: 104px;
    left: 30%;
    text-align: center;
    color: #000;
    background: #cccc11;
    border: 1px solid #000;
}

#eqInfo {
    position: absolute;
    overflow: auto;
    width: 30%;
    height: 80%;
    left: 0;
    z-index: 300;
}

.sub {
    position: fixed;
    overflow: auto;
    width: 30%;
    height: 20%;
    bottom: 0;
    color: #000;
    background: #fff;
    font-size: 0.8rem;
}

#reachRate {
    width: calc(100% - 7px);
    height: 5vh;
    border: 3px solid #222;
}

#reachPercent {
    text-align: center;
    width: 100%;
    height: 4vh;
    background: #ccc;
}
