body {
    font-size: 20px;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p {
    width: fit-content;
    margin: 0;
}

.header {
    display: block;
    color: #fff;
    background: linear-gradient(to bottom, #000, #444);
    width: 100%;
}

ul.menu {
    margin: 0px;
    padding: 0px 0px 0px 15px;
    background: linear-gradient(to bottom, #778098, #3a486b 49%, #24335a 50%, #1a2644);
    box-sizing: border-box;
}

ul.menu li {
    width: 200px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.menu a {
    background: linear-gradient(to bottom, #778098, #3a486b 49%, #24335a 50%, #1a2644);
    color: white;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.menu a:hover {
    background: #fff;
    margin: 0px;
    padding: 0px;
    color: #f00;
}

ul.menu ul {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

ul.menu li:hover ul {
    display: block;
}

ul.menu ul li {
    width: 200px;
    border-top: 1px solid white;
}

@media (max-width: 768px) {
    ul.menu li {
        width: 100%;
        display: inline-block;
        list-style-type: none;
        position: relative;
    }

    ul.menu ul li {
        width: 100%;
        border-top: 1px solid white;
    }

    ul.menu a {
        width: 50%;
        color: white;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        display: block;
    }
}
