@font-face {
    font-family: dseg7;
    src: url('../font/DSEG7Classic-BoldItalic.woff');
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: #fff;
    background: #000;
    font-size: 24px;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;;
}

.mainwin {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    z-index: 0;
    position: absolute;
    border-radius: 4px;
    background: #333;
    width: 100%;
    height: 100%;
}

#info {
    z-index: 10;
    position: fixed;
    width: 30%;
    height: 20%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, #333, #666);
    color: #fff;
    opacity: 0.75;
    font-size: 1.3vw;
}

#meter {
    position: flex;
}

#total {
    font-size: 1vw;
    position: absolute;
    top: 0;
    left: 0;
}

#max {
    font-size: 1vw;
    position: absolute;
    top: 0;
    right: 0;
}

#time {
    font-family: dseg7;
    text-align: center;
}

/*#opensetting {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
}*/

#rainrader {
    display: none;
    z-index: 20;
    position: absolute;
    width: 500px;
    height: 100px;
    background: linear-gradient(to bottom, #2222ff, #7777ff);
    color: blue;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#date_rain {
    position: absolute;
    width: 150px;
    height: 100%;
    border: 1px solid #000;
    background: linear-gradient(to bottom, #fff, #ccc);
    text-align: center;
    font-size: 30px;
}

#validtime_rain {
    position: absolute;
    width: 340px;
    right: 0;
}

#menubox {
    width: 30px;
    margin-right: 10px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    top: 140px;
    background: #aaa;
}

#opensetting, #rainmap, #copy {
    height: 28px;
    border: 1px solid #fff;
}

#setimg, #rainimg, #copyimg {
    width: 100%;
}

#setting {
    top: 140px;
    z-index: 20;
    position: absolute;
    width: 10%;
    display: none;
    height: calc(100% - 140px);
    background: #555;
    right: 0;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
    #info {
        z-index: 10;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #555;
        color: #fff;
        opacity: 0.7;
        font-size: 14px;
    }

    #rainrader {
        width: 100%;
        height: 100px;
    }

    #date_rain {
        width: 30%;
    }

    #validtime_rain {
        width: 68%;
    }

    #time {
        bottom: 0;
        position: absolute;
    }

    #total {
        font-size: 14px;
    }
    
    #max {
        font-size: 14px;
    }

    #setting {
        z-index: 20;
        width: 75%;
        height: 100%;
        font-size: 14px;
    }
}

